.waves {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  svg {
    position: absolute;
    left: 0;
    top: 0;
  }
}

.wavepath {
  fill: transparent;
  stroke: rgba(88, 153, 255, 0.3);
  stroke-width: 1.5;
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  animation: dash 5s linear;
  animation-fill-mode: forwards
}

.waveRight {
  transform: rotate(180deg);
}

@keyframes dash {
  from {
    stroke-dashoffset: 1;
  }
  to {
    stroke-dashoffset: 0;
  }
}

/*
.wavepath {
  fill: transparent;
  stroke: rgba(78, 121, 255, 0.2);
  stroke-width: 2;
  animation: fade 3s ease-in alternate infinite;
}

@keyframes fade {
  from {
    stroke-width: 1;
  }
  to {
    stroke-width: 1.5;
  }
}
*/

@media (prefers-color-scheme: light) {
  .wavepath {
    stroke: rgba(54, 97, 232, 0.2);
  }
}
